@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

section {
    padding: 4rem 0;
}

.container>div {
    padding: 2rem;
}

img {
    width: 100%;
}

header {
    width: 100%;
    height: 8rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

header *:not(button) {
    height: 100%;
}

nav .container {
    padding: 0 3rem;
}

.sticky {
    position: fixed;
    transition: all 0.3s ease-out 0s;
    z-index: 1000;
}

.sticky-bg {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-transition: all 0.3s ease-out 0s;
    -webkit-box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
}

.navbar-collapse {
    flex-grow: unset;
}

.show {
    background-color: rgba(255, 255, 255, 0.96);
    height: auto;
    -webkit-box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 10%);
    filter: drop-shadow(0px 2px 4px #0001);
}

#home {
    width: 100vw;
    height: 100vh;
    min-height: 100vmin;
    background-color: #bcdeee33;
    padding-top: 8rem;
    display: flex;
    align-items: center
}

#features .container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    flex: 1 1 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.feature:last-child,
#project .container:last-child {
    margin-bottom: 0;
}

.feature .icon {
    width: 8rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 16px #001e2d1a);
    margin-bottom: 1.5rem;
}

#about-us {
    background-color: #d5949d1a;
}

#coming {
    background-color: #bcdeee33;
}

.form-check {
    margin: 1rem 0;
}

@media (min-width: 1024px) and (orientation: landscape) {

    #home .container,
    #project .container,
    #register .container {
        display: grid;
        gap: 3rem;
    }

    .grid {
        grid-template-columns: 40% 60%;
        align-items: center;
        /* align-self: flex-end; */
    }

    .grid-reverse {
        grid-row-end: none;
    }

    .project-img-idea {
        grid-area: project-img-idea;
    }

    .project-txt-idea {
        grid-area: project-txt-idea;
    }

    .project-img-app {
        grid-area: project-img-app;
    }

    .project-txt-app {
        grid-area: project-txt-app;
    }

    #project .container {
        grid-template-areas:
            "project-img-idea project-txt-idea"
            "project-txt-app project-img-app";
    }

    div[class^="project-txt"] {
        margin-top: 2rem;
    }

    #register .container {
        grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    }

}

@media (min-width: 1440px) {
    .feature {
        flex: 1 1 315px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1440px;
    }
}